<li>
	<a class="slide" href="<%= edit_slide_path(slide) %>" title="<%= slide.name %>">
	    <div class="slide-container">
           <%= image_tag URI.encode(slide.image.url(:small)), :alt => slide.image_file_name %>
        </div>
	</a>
	<div class="caption">
	    <%= best_in_place slide, :name, :type => :input, :nil => "Click me to add content!" %>
	</div>
</li>
