<h1>Demo Management System</h1>
<div id="preso-contianer">
	<div id="preso-list">
        <% @presentations.each do |presentation| %>
            <div id="preso-slide">
                <% slide = presentation.slides.first %>
                <a href="<%= play_path(presentation.id) %>" title="<%= presentation.name %>">
                    <%= image_tag URI.encode(slide.image.url(:thumb)), :alt => slide.image_file_name,  %>
                    <span id="preso-caption"> <%= presentation.name %> </span>
                </a>
            </div>
        <% end %>
	</div>
</div>

<div style="clear:both;"></div>

<h3>Administation</h3>
<div class="admin-option"><a href="/qforms">Opportunity Surveys</a></div>
<div class="admin-option"><a href="/fields">Fields Table</a></div>
<div class="admin-option"><a href="/">Users</a></div>
<div class="admin-option"><a href="/presentations">Presentations</a></div>

