#frame {
	width: auto; margin: 30px; padding: 30px 10px 0 10px;
}

#main {
  margin-left: 11em;
}

#test-stuff {
  padding: 30px 10px 0 10px;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #f2f2f2;-webkit-box-shadow: 0px 1px 0px #f2f2f2;
	background: #247588;
	background: -moz-linear-gradient(top, #3B6E89 0%, #247588 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3B6E89), color-stop(100%,#247588)); /* webkit */

}


#menu {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 10em;
  text-align: left;
  color: white;
}

#menu a {
  color: white;
  font-size: small;
	cursor: pointer;
}
