
h1 {
	font-size: 28px;
	margin: 0 0 15px 0;
}

#content {
	width: auto; margin: 30px; padding: 15px 30px 30px;
}

th,td {
	float: left; margin: 1px 20px 0 0; width: 200px;
	text-align: left; font-size: 16px; 
}

th { margin: 10px 20px 0 0; }

#qform { margin: 30px 0 0 0;}

#show_table tr { height: 25px; }
#show_col1 { width: 200px; }
#show_col2 { width: 400px; }

#slide_imageQueue { margin: 20px; }

label {
	float: left; clear: left; margin: 1px 20px 0 0; width: 200px;
	text-align: right; font-size: 16px; 
}

.form_row { margin: 10px;}

.number_input_field {
	width: 50px;
}
.number_input_field {
	height: 25px; padding: 4px 10px 0px 10px; margin: 0px 0 10px 0;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	font-family: sans-serif; font-size: 16px; 
}

.text_input_field {
	width: 400px; 
}
.text_input_field {
	height: 25px; padding: 4px 10px 0px 10px; margin: 0px 0 10px 0;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	font-family: sans-serif; font-size: 16px; 
}

textarea {
	width: 400px; height: 80px; padding: 10px 10px 0px 10px; margin: 0px 0 10px 0;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	font-family: sans-serif; font-size: 16px; 
}

.input_button {
	width: 100px; height: 32px;  margin: 0 15px 0 0;
	cursor: pointer;
	font-family: sans-serif; font-size: 16px;
}

.link_button {
	margin: 40px 15px 0 0; padding: 6px 16px;
	cursor: pointer;
	font-family: sans-serif; font-size: 16px;
}

.link_button_div {
	margin: 10px 10px 0 0; padding: 6px 16px;
}

#slide_imageUploader, #new_slide {
	display:inline; margin: -11px 5px;
}


/* Settings for Slide showing/editing */
#slides {
	position:relative;
	margin-top: 10px;
}
ul.slides {
	clear: both;
	margin: 0;
	padding: 0;
}
ul.slides li {
	float: left;
	padding: 0;
	margin: 5px 5px 0px 0;
	list-style: none;
}
a.slide {
	display: block;
	text-align: center;
    line-height:100px;
}
a.slide:focus {
	outline: none;
}
ul.slides img {
	padding: 2px;
	display: inline;
	vertical-align: top;
}


#preso-contianer {
}
#preso-fields {
	float:left;
	width: 50%;
}
#preso-fields label {
	width: 100px;
	float: left;
	margin-right: 10px;
	margin-top: 0px;
}
#preso-buttons {
	clear: both;
	position: relative;
	top: 10px;
	bottom: 15px;
}
#preso-list {
	margin: 0;
	padding: 0;
	float: left;
}
#preso-slide {
	margin: 5px 5px;
	width: 120px; height: 130px;
	text-align: center;
	float: left;
}
#preso-caption {
	text-align: center;
}
#preso-slide:focus {
	outline: none;
}

* ======================================================= */
/* Best In Place Styles */
/* ======================================================= */
input[type=submit] {
  width: 5em;
}
input[type=checkbox] {
  width: 1em;
}
textarea {
  max-height:15em;
  min-width: 40em;
}
.best_in_place input:focus {
	width: 80%;
	font-size: 12px;
	color: #f2f2f2; text-shadow: 0px -1px 0px #334f71;
	background: #1A6377;
	background: -moz-linear-gradient(top, #546A7F 0%, #1A6377 20%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546A7F), color-stop(20%,#1A6377)); /* webkit */
}

.best_in_place {
  padding: .1m;
  cursor: hand;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
.best_in_place:hover, #user_account .do_hover {
  padding: 2px;
	color: #f2f2f2; text-shadow: 0px -1px 0px #334f71;
	background: #1A6377;
	background: -moz-linear-gradient(top, #546A7F 0%, #1A6377 20%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546A7F), color-stop(20%,#1A6377)); /* webkit */
}
.info_edit {
  float: right;
  cursor: hand;
  cursor: pointer;
}

/* Missatges Flotants */

.purr {
  position: fixed;
  width: 324px;
  top: 20px;
  right: 15px;
  padding: 20px;
  background-color: #000000;
  color: #FFFFFF;
  border: 2px solid #AAA;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
.purr:hover .close {
  position: absolute;
  top: 5px;
  right: 3px;
  display: block;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
  background: url("/images/close-button.gif") no-repeat;
}
