<h1>Fields Table</h1>
<br />

<%= link_to 'Add Field', new_field_path, :class=>"link_button" %>


<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fields.each do |field| %>
  <tr>
    <td><%= link_to field.name, field %></td>
    <td><%= link_to field.value, field %></td>
    <td><%= link_to 'Destroy', field, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


